<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Download Page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${downloadpage} + '!'" />
    <br>
    <p>
    <a href="/downloadExcel1">download excel1 with ResponseEntity<Resource></a>
    </p>
    <p>
    <a href="/downloadExcel2">download excel with HttpServletResponse response</a>
    </p>
    <br>
    <p>
    <a href="/downloadExcel3">download excel with HttpServletResponse response && nio</a>
    </p>
    <br>
</body>
</html>
